@using AzureExtension.FullMinify.Controllers
@model List<AzureExtension.FullMinify.Controllers.Result>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>AzureExtension.FullMinify</h2>
    
    <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>File</th>
            <th>Before</th>
            <th>After</th>
            <th>Safings</th>
            <th>Processed</th>
        </tr>
        </thead>
        <tbody>
    @foreach (var result in Model)
    {
        <tr>
            <td>@result.FileName</td>
            <td>@result.Original</td>
            <td>@result.Optimized</td>
            <td>@result.Saving</td>
            <td>@result.Date</td>
        </tr>
    }
        </tbody>
    </table>
</div>
